@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

.about-body {
  max-height: 180vh;
  width: 100vh;
  background-position: center center;
}

.about-please-choose-div{
  text-align: center;
  margin-top: 23rem;
  padding: 0 100px 300px;
}

.about-text {
  font-family: 'Shadows Into Light';
  color: white;
  font-size: 3rem;
  margin-top: 20px;
  line-height: 0;
}

.about-please-choose-text{
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 15px #feffb3;
}

.email{
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 15px #feffb3;
  margin-top: 30px;
  padding-bottom: 12rem;
}
