@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');


.cured-body {
  height: 140vh;
  background-position: center center;
}

.you-are {
  text-align: center;
  font-family: 'Shadows Into Light';
  color: white;
  font-size: 3rem;
  padding-top: 25%;
  line-height: 0;
}

.cured-div{
  text-align: center;
    height: 140vh;
}

.cured{
  font-family: 'Shadows Into Light';
  color: white;
  font-size: 12rem;
  line-height: 12rem;
  text-shadow: 2px 2px 15px #feffb3;
  text-decoration: none;
}
