.navbar-wrapper{
  background-color: white;
  opacity: .3;
  height: 60px;
  text-align: center;
  line-height: 55px;
}


.hand-icon{
  width: 80px;
  margin-bottom: 10px;
}

.left-hand-icon{
  width: 80px;
  margin-bottom: 10px;
  margin-right: 3rem;
}

@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.35);
  }
}

.bootstrap-navbar{
  opacity: .3;
}

.navbar-about-text {
	color: gray;
	:hover {
		color: white;
		cursor: pointer;
	}
}

.navbar.navbar-expand{
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav{
  display: inline-block;
float: none;
}
